footer {
  background: linear-gradient(405deg, #687cd6, #0a446a);
  color: white;
  padding: 3rem 3rem 1rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.footer_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 4rem;
}
.footer_container_card {
  flex: 1 1 250px;
}
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-left: 0.5rem;
  display: inline-block;
  transition: color 0.3s;
}

.footer-links a i {
  margin-right: 8px;
  color: #ffffff;
}

.footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-links a:hover {
  color: #ffffff;
}

.contact-list {
  list-style: none;
  padding: 0;
  color: #eee;
}

.contact-list li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}

.contact-list i {
  color: #ffffff;
  font-size: 1rem;
  width: 20px;
}

.contact-list a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.contact-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.contact-list a:hover {
  color: #ffffff;
}

.contact-list a:hover::after {
  width: 100%;
}

/* ******************************MODAL*************************** */
.open_modal_rooms {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #5f5f5f;
  cursor: pointer;
  z-index: 10;
}

.open_modal_rooms_container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gallery_button_left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  z-index: 5;
}
.gallery_button_right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  z-index: 5;
}
.room_details {
  flex: 1 1 45%;
  max-width: 500px;
  width: 100%;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.room_details_list {
  padding-left: 1rem;
  margin-bottom: 10px;
}
.room_details_price {
  font-weight: bold;
  color: #667eea;
  font-size: 1.2rem;
}
.room_details_btn_ctn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.modal_gallery {
  flex: 1 1 45%;
  max-width: 500px;
}

#modalMainImage {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
#modalGallery {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.modal_image_container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
}

/* BOOKING FORM */
.booking_form_input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .open_modal_rooms_container {
    flex-direction: column;
  }
  #modalGallery {
    display: none;
  }
  .modal_gallery h2 {
    font-size: 1rem;
  }
  .modal_gallery {
    font-size: smaller;
  }
  .room_details_price,
  .price,
  .room-title {
    font-size: large;
  }
  .open_modal_rooms {
    top: -10px;
    right: 10px;
  }
  .roomModal {
    display: flex;
    align-items: center;
  }
  .booking_form_input {
    flex-direction: column;
    gap: 0;
  }
  .modal_image_container {
    height: 200px;
  }
}
